
/* DOM elements */
body {
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

h4 {
  text-decoration: underline;
}

/* Navigation */
.navbar-brand {
  font-size: 2rem;
}

/* Format sections of the storyline */

.storyline {
  font-size: 2.5rem;
}

.underline {
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

/* Match section content to height of viewport */
